#haut{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

#haut_mais_pas_trop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#follow{
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 5px;
    padding:2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sub_button{
    background-color: rgb(220, 32, 32);
    color: white;
    text-align: center;

}

.row_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

#button{
    padding: 2px;
}


.bio {
    display: flex;
    align-self: center;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pp{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border-color: black;
    border-width: thick;

}


#imagegrid{
    width: 100%;
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33% ;
    grid-template-rows:auto auto auto;
    margin: 0px;
}

#post{
    height: auto;
    width: 11vw;
    background-size: cover;
    margin: 0;
    border: 0;
}

#icon {
    height: 2 rem;
    width: 2rem;
}

